In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
pip install csv

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement csv (from versions: none)
ERROR: No matching distribution found for csv

In [26]:
import csv
TD = pd.read_csv('Tdata.csv',sep=",")

In [27]:
TD

      No   X   Y
0      1  55  16
1      2  59  17
2      3  12  90
3      4   9  87
4      5  54  20
..   ...  ..  ..
246  247  10  10
247  248  90  90
248  249  20  60
249  250  40  90
250  251  50  50

[251 rows x 3 columns]

In [29]:
TD.shape

(251, 3)

In [32]:
X = TD.drop(columns=['Y'])
y = TD['Y']

In [33]:
X

      No   X
0      1  55
1      2  59
2      3  12
3      4   9
4      5  54
..   ...  ..
246  247  10
247  248  90
248  249  20
249  250  40
250  251  50

[251 rows x 2 columns]

In [34]:
y

0      16
1      17
2      90
3      87
4      20
       ..
246    10
247    90
248    60
249    90
250    50
Name: Y, Length: 251, dtype: int64

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.25, 
                                                    random_state=42)

In [39]:
knn_model = KNeighborsRegressor().fit(X_train, y_train)

In [40]:
knn_model

KNeighborsRegressor()

In [41]:
knn_model.n_neighbors

5

In [42]:
knn_model.effective_metric_

'euclidean'

In [43]:
y_pred = knn_model.predict(X_test)

In [45]:
np.sqrt(mean_squared_error(y_test, y_pred))

16.56176510798482

In [47]:
RMSE = [] 

for k in range(20):
    k = k+1
    knn_model = KNeighborsRegressor(n_neighbors = k).fit(X_train, y_train)
    y_pred = knn_model.predict(X_train) 
    rmse = np.sqrt(mean_squared_error(y_train,y_pred)) 
    RMSE.append(rmse) 
    print("k =" , k , "için RMSE değeri: ", rmse)

k = 1 için RMSE değeri:  0.0
k = 2 için RMSE değeri:  8.040538909640746
k = 3 için RMSE değeri:  9.471994305473975
k = 4 için RMSE değeri:  11.2032124002496
k = 5 için RMSE değeri:  12.194304565238118
k = 6 için RMSE değeri:  13.208597610171308
k = 7 için RMSE değeri:  13.850462934180163
k = 8 için RMSE değeri:  14.096819823007614
k = 9 için RMSE değeri:  14.746560906743877
k = 10 için RMSE değeri:  15.360532459742679
k = 11 için RMSE değeri:  15.928293191742487
k = 12 için RMSE değeri:  16.426409923257825
k = 13 için RMSE değeri:  16.85074558710219
k = 14 için RMSE değeri:  17.211843525132682
k = 15 için RMSE değeri:  17.617337124999526
k = 16 için RMSE değeri:  17.826180473466724
k = 17 için RMSE değeri:  18.082791695917056
k = 18 için RMSE değeri:  18.134279188642175
k = 19 için RMSE değeri:  18.086319649081553
k = 20 için RMSE değeri:  18.193856003513815